
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.box1{
	
	width:100px;
	height:100px;
	font-size:25px;
	background-color:red;
	order:2;
}
.box2{
	width:100px;
	height:100px;
	font-size:25px;
	background-color:blue;
	order:4;
}
.box3{
	width:100px;
	height:100px;
	font-size:25px;
	background-color:green;
	order:1;